
/.project
/.pydevproject
/.idea
sandbox
RNAseq_mapping-free
/.snakemake
/.gitignore
__pychache__
/.benchmark
runRNAseq.sh
*tmp*
.Rproj.user
*~
*.pyc
dist
build
*.swp

# sphinx build folder
_build
_modules
_sources

/snakePipes/shared/rscripts/*.html
output

# pip stuff
snakePipes.egg-info

# misc
.vscode/

# tests
*fa
*gtf