name: linux

on: [pull_request, push]

defaults:
  run:
      shell: bash -l {0}


jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: mamba-org/setup-micromamba@main
      with:
        environment-file: .github/snakePipesEnvCI.yml
        condarc: |
          channels:
            - conda-forge
            - bioconda
            - defaults
          channel_priority: 'strict'
        cache-downloads: true
    - name: Install snakePipes
      run: |
        micromamba run -n snakePipes_CI python -m pip install . --no-deps --ignore-installed -vvv
    - name: docs
      run: |
        micromamba activate snakePipes_CI
        snakePipes config --tempDir /tmp
        cd docs
        make html
  flake:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: mamba-org/setup-micromamba@main
      with:
        environment-file: .github/snakePipesEnvCI.yml
        condarc: |
          channels:
            - conda-forge
            - bioconda
            - defaults
          channel_priority: 'strict'
        cache-downloads: true
    - name: Install snakePipes
      run: |
        micromamba run -n snakePipes_CI python -m pip install . --no-deps --ignore-installed -vvv
    - name: flake
      run: |
        micromamba activate snakePipes_CI
        snakePipes config --tempDir /tmp
        flake8 --ignore=E501,E722,E402 --exclude tests,docs/conf.py,build/lib/snakePipes/shared/tools/three_prime_seq,snakePipes/shared/tools/three_prime_seq .
  CI:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: mamba-org/setup-micromamba@main
      with:
        environment-file: .github/snakePipesEnvCI.yml
        condarc: |
          channels:
            - conda-forge
            - bioconda
            - defaults
          channel_priority: 'strict'
        cache-downloads: true
    - name: Install snakePipes
      run: |
        micromamba run -n snakePipes_CI python -m pip install . --no-deps --ignore-installed -vvv
    - name: CI
      run: |
        micromamba activate snakePipes_CI
        snakePipes config --tempDir /tmp
        ./.ci_stuff/test_dag.sh
  createEnvs:
    needs: CI
    strategy:
      fail-fast: false
      matrix:
        envs: [
          'CONDA_SHARED_ENV',
          'CONDA_CREATE_INDEX_ENV',
          'CONDA_RNASEQ_ENV',
          'CONDA_RMATS_ENV',
          'CONDA_scRNASEQ_ENV',
          'CONDA_seurat3_ENV',
          'CONDA_loompy_ENV',
          'CONDA_alevinqc_ENV',
          'CONDA_eisaR_ENV',
          'CONDA_DNA_MAPPING_ENV',
          'CONDA_CHIPSEQ_ENV',
          'CONDA_ATAC_ENV',
          'CONDA_HIC_ENV',
          'CONDA_WGBS_ENV',
          'CONDA_DSS_ENV',
          'CONDA_RMD_ENV',
          'CONDA_PREPROCESSING_ENV',
          'CONDA_NONCODING_RNASEQ_ENV',
          'CONDA_SAMBAMBA_ENV',
          'CONDA_pysam_ENV'
        ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: mamba-org/setup-micromamba@main
      with:
        environment-file: .github/snakePipesEnvCI.yml
        condarc: |
          channels:
            - conda-forge
            - bioconda
            - defaults
          channel_priority: 'strict'
        cache-downloads: true
    - name: install snakePipes
      run: |
        micromamba run -n snakePipes_CI python -m pip install . --no-deps --ignore-installed -vvv
    - name: createEnvs
      run: |
        micromamba activate snakePipes_CI
        snakePipes config --tempDir /tmp
        snakePipes createEnvs --autodetectCondaEnvDir --only ${{matrix.envs}}
